@font-face {
    font-family: 'Handset Sans Kufi Arabic';
    src: url('/fonts/HandsetSansKufiArabic-Regular.woff') format('woff'),
         url('/fonts/HandsetSansKufiArabic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Handset Sans Kufi Arabic';
    src: url('/fonts/HandsetSansKufiArabic-Bold.woff') format('woff'),
         url('/fonts/HandsetSansKufiArabic-Bold.ttf') format('truetype');
    font-weight: bold;
}
.app-ltr {
    direction: ltr;
}
.app-rtl {
    direction: rtl;
}
.app-rtl .icon-mirror-for-rtl {
    transform: scaleX(-1);
    transform-origin: 50% 50%;
    display: inline-block;
}

.app-rtl div:not([class*=" icon-"]):not([class^="icon-"]) {
    font-family: "Handset Sans Kufi Arabic","Segoe UI", sans-serif, "Segoe MDL2 Assets", "Symbols" ;
}

.app-rtl .apptitle {
    text-align:center
}

.app-rtl .splash-progress-container {
    text-align: center;
}

.app-rtl .floatLeft {
    float: right;
}

.app-rtl .floatRight {
    float: left;
}

.app-rtl .accessibility-only {
    pointer-events: none;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity:0;
}
.app-rtl .ellipsis {
    /* Keep this hack here until we know how to show the right tail of Thai characters when overflow:hidden */
    padding-left: 4px;
}

@keyframes pleaseWaitSpin {
    100% {
        transform: rotate(360deg);
    }
}
.app-rtl .details-popup-box {
    margin: 0 auto;
    right:0;
    left:0;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.701961);
}

.app-rtl .details-popup-enter-active .details-shim {
    transition: opacity .2s ease-out;
}
.app-rtl .details-popup-leave-active .details-shim {
    transition: opacity .2s ease-in;
}
.app-rtl .details-popup-enter .details-popup-box{
    transform: translateY(222px);
}
.app-rtl .details-popup-enter-active .details-popup-box {
    transform: translateY(0);
    transition: transform .6s cubic-bezier(0,1,0,1), opacity .3s ease-out;
}
.app-rtl .details-popup-enter-active {
    transition: opacity .6s;
}
.app-rtl .details-popup-leave-active {
    transition: opacity .6s;
}
.app-rtl .details-popup-leave-active .details-popup-box{
    transform: translateY(222px);
    transition: transform .5s cubic-bezier(.1,0,0,1), opacity .5s cubic-bezier(.1,0,0,1);
}
.app-rtl .details-page-content-enter.details-page-content-enter-active {
    transition: opacity .3s;
}
.app-rtl .details-page-leave-active {
    transition: opacity .4s;
}
.app-rtl .details-closeButton,
.app-rtl .details-backButton {
    text-shadow: 1px 0 5px rgba(0,0,0,0.8), -1px 0 5px rgba(0,0,0,0.8);
    text-align: center;
    transition: transform .2s cubic-bezier(0,1,0,1);
}

.app-rtl .details-backButton:hover {
    transform: scale(1.2) translate(-4px, 3px);
    text-shadow: 1px 0px 5px rgba(0,0,0,0.9), -1px 0px 5px rgba(0,0,0,0.9);
}

.app-rtl .details-closeButton:hover {
    transform: scale(1.2) translate(5px, 3px);
    text-shadow: 1px 0px 5px rgba(0,0,0,0.9), -1px 0px 5px rgba(0,0,0,0.9);
}

.app-rtl .details-closeButton {
    padding: 16px 48px 48px 0px;
    left: 13px; /* scroll bar width */
}

.app-rtl .details-backButton {
    padding: 16px 13px 48px 48px;  /* 13px scroll bar width (for symmetry) */
}

.app-rtl .display-page-title .episode .number {
    margin-left: 10px; 
}
.app-rtl .display-page-title .episode .number {
    margin-left: 10px; 
}
.app-rtl .display-page-title .title-heading {
    margin: 0 !important;
    text-shadow: 0px -1px 8px rgba(0,0,0,0.5);
}
.app-rtl .title-synopsis {
    margin: 10px 0;
    padding: 0;
}
.app-rtl .details-header {
    background: linear-gradient(
        rgba(25,25,25, 0),
        rgba(25,25,25,.5) 20px, /* gradient is kind of non-linear: at 1/3 of the distance we already have 50% transparency*/
        rgba(25,25,25, 1) 60px  /* the same 60px that header overlaps background image by */
    );
}

.app-rtl .image-cycler-layer {
    right: 0;
    background-position: center 0;
}
.app-rtl .display-page-story-art {
    transform: translate3d(0,0,0);
    transition: opacity 100ms linear;
}
.app-rtl .aspect-box {
    float: right;
}
.app-rtl .aspect-content {
    right: 0;
    left: 0;
}
/*.details-gradient{ 
  background: linear-gradient(rgba(29,29,29,0) 90%, rgba(29,29,29,1) 100%);
  }
  */
.app-rtl .display-page-play-button {
    left: 50%;
    margin: -40px 0 0 -40px;
}
.app-rtl .display-page-play-button .play-button-icon::after {
    text-align: center;
    left: 50%;
    margin-left: -26px;
}
.app-rtl .display-page-play-button .play-button-icon::before {
    left: 50%;
    margin-left: -29px;
    border-radius: 50%;
}
.app-rtl .episode-details {
/*    padding: 8px;
*/ 
}
.app-rtl .episode-title {
/*    margin-right: 8px;
 */
}

@media all and (max-width: 431px) {
  .app-rtl .details-page-content .win-listview .win-gridlayout .win-container {
    margin: 0;    
    padding: 4px; 
  }
  .app-rtl .details-page-content .win-listview .win-vertical .win-gridlayout.win-surface {
    margin: 0;    /* winjs' dark-ui.css has 20px margin on the left. Override it ... */
    padding: 0 1px; /* and use padding instead to cover image cycler behind Listview   */
  }
  .app-rtl .details-header {
    padding: 0 9px 10px 9px;
  }
  .app-rtl .details-page-content .win-itemscontainer {
    padding: 5px; /* This padding should be at least as wide as selection/hover outline */
  }
}

@media all and (min-width: 432px) {
  .app-rtl .details-media::after { content: "432px < Fullscreen Standard"; }
  .app-rtl .details-page-content .win-listview .win-gridlayout .win-container {
    margin: 0;  
    padding: 4px; 
  }
  .app-rtl .details-page-content .win-listview > .win-viewport.win-vertical .win-surface {
    margin: 0;       /* winjs' dark-ui.css has 20px margin on the left. Override it ... */
    padding: 0 1px; /* and use padding instead to cover image cycler behind Listview   */

  }
  .app-rtl .details-header {
    padding: 0 9px 10px 9px;
  }
  .app-rtl .details-page-content .win-itemscontainer {
    padding: 5px; /* This padding should be at least as wide as selection/hover outline */
  }
}

@media all and (min-width: 640px)  {
  .app-rtl .details-media::after { content: "640px < Fullscreen Standard "; }
  .app-rtl .details-page-content .win-listview > .win-viewport.win-vertical .win-surface {
    margin: 0;       /* winjs' dark-ui.css has 20px margin on the left. Override it ... */
    padding: 0 39px; /* and use padding instead to cover image cycler behind Listview   */
  }
  .app-rtl .details-header {
    padding: 0 47px 10px 47px;
  }
  .app-rtl .details-page-content .win-itemscontainer {
    padding: 5px; /* This padding should be at least as wide as selection/hover outline */
  }
}


/* Bookmark bar is LTR regardless of language */
.app-rtl .details-bookmark.episode {
    right: 0px;
    left: 0px;
}

/* Bookmark bar is LTR regardless of language */
.app-rtl .details-bookmark-bar {
    padding: 12px 0px;
    direction: ltr;
}

/* Bookmark bar is LTR regardless of language */
.app-rtl .episode .details-bookmark-bar {
    padding: 25px 7px 10px 7px;
}

/* Bookmark bar is LTR regardless of language */
.app-rtl .episode .details-bookmark-bar {
    background: 
        linear-gradient(
            rgba(0,0,0,0),
            rgba(0,0,0,.8) 80%
    )
}
.app-rtl .details-bookmark-label.left {
    order: 1;
    margin: 0 12px;
    color: #E50914;
}
.app-rtl .details-bookmark-label.right {
    order: 3;
    margin: 0 12px;
    color: #666666;
}
.app-rtl .details-page-content .virtualized-list-footer.details-list-container {
    padding:12px;
}
.app-rtl .details-list-container.c-r {
    right: 50%;
    margin-left:47px;
}
.app-rtl .details-list-container.c-l {
    margin-right:47px;
}
.app-rtl .details-list-item-highlight {
    /*padding: 4px;*/
}
.app-rtl .details-list-container .details-list-item-highlight:hover,
.app-rtl .details-list-container .details-list-item-highlight.hover {
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.801961);
}
.app-rtl .episode-image-container {
  background: linear-gradient(180deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.08) 100%);
}
.app-rtl .episode-image-container img {
  transition: opacity .3s ease-out 50ms;
  transform: translateY(-50%);
}
.app-rtl .episode-synopsis {
    margin: 2px 0 24px 0;
}
@media all and (max-width: 639px) {
    .app-rtl .details-list-container.c-r {
        margin-left: 9px;
    }

    .app-rtl .details-list-container.c-l {
        margin-right: 9px;
    }
}

.app-rtl .details-list-container.details-group-container {
    padding: 24px 4px 8px 4px;
}

.app-rtl .image-container div.placeholder {
  background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.8) 100%);
}
.app-rtl .image-container div.image{
  transition: .5s opacity ease-out ;
  background-position: 50% 50%;
}
.app-rtl .episode-meta  {
    transition: opacity .3s ease-out;
}



.app-rtl .episode-dl-placeholder .dl_button{ 
    position: absolute;
    top: 4px; left: 0px;  /* and offset it slightly to align with the right place */
    transform: scale(.75) translateX(-4px);
}
.app-rtl .app-rtl .view-more-episodes-button {
    border: 1px solid white;
    padding: 6px 12px 8px 12px;
}
.app-rtl .downloaded-episodes-footer {
    margin: 20px 49px 68px 49px;
    background: rgb(25, 25, 25);
    position: relative;
}
.app-rtl .view-more-episodes-button {
    border: 1px solid white;
    padding: 6px 12px 8px 12px;
}
.app-rtl .view-more-episodes-button:hover {
    background : #2f2f2f;
}

.app-rtl .details-buttons-section {
    display: flex;
    margin: 20px -1em;
}

.app-rtl .details-buttons-section svg { position: absolute; }
.app-rtl .lottie-button svg { position: relative; }

.app-rtl .da-container {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;

  margin: 0 1em;

  align-items: center;

}

.app-rtl .da-container:hover { color: white; }
.app-rtl .da-hover       .da-icon-container { transform: scale(.9); transition: .2s transform; }
.app-rtl .da-hover:hover .da-icon-container { transform: scale(1) ; transition: .3s transform; }

.app-rtl .da-hover.lottie-button .da-icon-container svg path { transition: .2s fill, .2s transform; fill: #b3b3b3; }
.app-rtl .da-hover:hover.lottie-button .da-icon-container svg path { transition: .3s fill, .3s transform; fill: #ffffff}

.app-rtl .da-hover.lottie-button .da-label-container { transition: .2s color; }
.app-rtl .da-hover:hover.lottie-button .da-label-container { transition: .3s color; }

.app-rtl .da-container .da-label-container .label-sizer-container,
.app-rtl .da-container .da-label-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: .5px;
}
.app-rtl .da-container .da-label-container {
  margin-top: -4px;
}

.app-rtl .da-container .da-label-container .label-sizer {
  visibility: collapse;
}

.app-rtl .episode-dl-placeholder .da-label-container {
  display: none;
}

.app-rtl .da-container .da-icon-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;

  margin-bottom: 4px;
  align-items: center;
}

.app-rtl .thumbRate-icon-container {
    color: #b3b3b3;
    position: relative;
    width: 1em;
    height: 1em;
    font-size:52px;
}



.app-rtl .thumbRate-button-container { position: relative; z-index:101; }

.app-rtl .thumbRate-button-container .shim-container {
    position: absolute;
    width: 0; height: 0;
}
.app-rtl .thumbRate-button-container .shim {
    position: absolute;
    width: 0; height: 0;
    background: linear-gradient(
        rgba(25,25,25,0) 0%,
        rgba(25,25,25,1) 30%,
        rgba(25,25,25,1) 70%,
        rgba(25,25,25,0) 100%
    );
    transition: .3s opacity ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.app-rtl .thumbRate-icon-container svg {
    font-size: 34px;
    width: 1em;
    height: 1em;
}


.app-rtl .thumbRate-expanded-true .up-container   { transform: translate(48px, -48px) scale(1.2); }
.app-rtl .thumbRate-expanded-true .down-container { transform: translate( -48px, -48px) scale(1.2); }
.app-rtl .thumbRate-expanded-true .shim { opacity: 1 ; pointer-events: initial;}
.app-rtl .thumbRate-expanded-true .thumb-rating-close-button { transform: translate(0, 0px); opacity: 1 }

.app-rtl .thumbRate-button-container .up-container,
.app-rtl .thumbRate-button-container .down-container,
.app-rtl .thumbRate-button-container .close-container {
    transition: .3s transform cubic-bezier(.1,0,0,1),
                .3s opacity   cubic-bezier(.1,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-rtl .thumbRate-button-container .button-ring { 
    opacity: 0;
    transition: .3s opacity; 
    overflow: visible;
    fill: transparent;
    stroke: currentColor;
    font-size: 52px;
}

.app-rtl .thumbRate-icon-container.thumbRate-expanded-true .button-ring { opacity: 1; }

.app-rtl .thumbRate-icon-container .close-container {
    width: 1em;
    height: 1em;
    position: absolute;
    opacity: 0;
}
.app-rtl .thumbRate-icon-container.thumbRate-expanded-true .close-container {
    opacity: 1;
}
.app-rtl .thumbRate-expanded-false .up-container,
.app-rtl .thumbRate-expanded-false .down-container {
    transform: scale(0.9);
    transition: .2s transform;
    width: 1em;
    height: 1em;
    position: absolute;
}

.app-rtl .thumbRate-button-container:hover .thumbRate-expanded-false .up-container,
.app-rtl .thumbRate-button-container:hover .thumbRate-expanded-false .down-container {
    transform: scale(1);
    transition: .3s transform;
    color: white;
}

.app-rtl .up-container:hover,
.app-rtl .down-container:hover,
.app-rtl .close-container:hover {
    color: white;
}

.app-rtl .thumbRate-button-container .thumbRate-expanded-true .button-ring { opacity: 1 }

.app-rtl .thumbRate-button-container .close-container .button-ring {
    font-size: 42px;
}

.app-rtl .thumbRate-button-container .thumb-btn-upFilled,
.app-rtl .thumbRate-button-container .thumb-btn-downFilled,
.app-rtl .thumbRate-button-container .thumb-btn-up,
.app-rtl .thumbRate-button-container .thumb-btn-down,
.app-rtl .thumbRate-button-container .thumb-rating-close-button  {
    transition: .3s transform cubic-bezier(.1,0,0,1),
                .3s opacity   cubic-bezier(.1,0,0,1);
}
.app-rtl .thumbRate-button-container .thumb-rating-close-button {
    font-size: 21px;
}

.app-rtl .thumbRate-expanded-false.currentRating-UNRATED .thumb-btn-upFilled { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-UNRATED .thumb-btn-upFilled { opacity: 0 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_UP .thumb-btn-upFilled { opacity: 1 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_UP .thumb-btn-upFilled { opacity: 1 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_DOWN .thumb-btn-upFilled { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_DOWN .thumb-btn-upFilled { opacity: 0 }

.app-rtl .thumbRate-expanded-false.currentRating-UNRATED .thumb-btn-downFilled { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-UNRATED .thumb-btn-downFilled { opacity: 0 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_UP .thumb-btn-downFilled { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_UP .thumb-btn-downFilled { opacity: 0 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_DOWN .thumb-btn-downFilled { opacity: 1 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_DOWN .thumb-btn-downFilled { opacity: 1 }

.app-rtl .thumbRate-expanded-false.currentRating-UNRATED .thumb-btn-up { opacity: 1 }
.app-rtl .thumbRate-expanded-true.currentRating-UNRATED .thumb-btn-up { opacity: 1 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_UP .thumb-btn-up { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_UP .thumb-btn-up { opacity: 0 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_DOWN .thumb-btn-up { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_DOWN .thumb-btn-up { opacity: 0 }

.app-rtl .thumbRate-expanded-false.currentRating-UNRATED .thumb-btn-down { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-UNRATED .thumb-btn-down { opacity: 1 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_UP .thumb-btn-down { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_UP .thumb-btn-down { opacity: 0 }
.app-rtl .thumbRate-expanded-false.currentRating-THUMBS_DOWN .thumb-btn-down { opacity: 0 }
.app-rtl .thumbRate-expanded-true.currentRating-THUMBS_DOWN .thumb-btn-down { opacity: 0 }

.app-rtl h1.downloads-page-title {
    margin: 0;
    margin-right: 38px;
}


.app-rtl .downloads-page {
}


.app-rtl .downloads-page.empty {
}


.app-rtl .downloads-page.empty .container {
    text-align: center;
}


.app-rtl .downloads-page .section-header {
}


.app-rtl .downloads-page .section-header .title {
    margin-right: 13px;
}


.app-rtl .downloads-page.full {
}


.app-rtl .downloads-page.full .win-hub-surface {
    padding-right: 12px;
    width: calc(100% - 12px);
}


.app-rtl .downloads-page.full .win-hub-section {
    padding-right: 0;
    padding-left: 0;
}


.app-rtl .downloads-page.full .win-hub-section:not(:last-child) {
    margin-left: 76px;
}


.app-rtl .downloads-page.full .downloads-list {
}


.app-rtl .downloads-page.full .downloads-list:not(.three-col) .item:nth-child(2n) {
    margin-right: 11px;
}


.app-rtl .downloads-page.full .downloads-list.three-col .item:not(:nth-child(3n-2)) {
    margin-right: 11px;
}


.app-rtl .downloads-page.full .item {
}


.app-rtl .downloads-page.full .item .error > svg {
    margin-left: 4px;
}


.app-rtl .downloads-page.full .item .item-container {
}


.app-rtl .downloads-page.full .item .item-container .download-group.placeholder {
    left: 0;
    right: 0;
}


.app-rtl .downloads-page.full .item .item-container .viewableitem {
    left: 0;
    right: 0;
}


.app-rtl .downloads-page.full .item .item-container .edit-control {
    left: 0;
    right: 0;
}


.app-rtl .downloads-page.full .item .item-container .edit-control .checkbox {
    position: absolute;
    left: 12px;
    top: 12px;
}


.app-rtl .downloads-page.full .item .item-container .edit-control .checkbox.unchecked {
    border: 3px solid white;
}
.app-rtl .onboard-dialog {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
}

.app-rtl .onboard-dialog {
    border-radius: 6px;
    padding: 12px
}

.app-rtl .onboard-dialog h1 {
}

.app-rtl .onboard-dialog h1, .app-rtl .onboard-dialog p, .app-rtl .onboard-dialog .icon {
    text-align: center;
}

.app-rtl .onboard-dialog .button {
    padding-right: 6px;
    padding-left: 6px;
    text-align: center;
}

.app-rtl .lomo-row {
}

.app-rtl .lomo-row .virtualized-list-surface {
    margin-right: 16px;
}

.app-rtl .lomo-row-title {
    margin-right: 20px;
}

.app-rtl .home-page .movie-container {
    margin-right: 4px;
    margin-left: 4px;
}

.app-rtl .home-page .viewableitem.placeholder,
.app-rtl .home-page .continueItem.placeholder {
    right: 0px;
    left: 0px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.50) 0%, rgba(255,255,255,0.80) 100%);
}

.app-rtl .home-page .continueItem .continue-scrim {
    right: 0;
    left: 0; /* IE10+ */
    background: linear-gradient(to bottom, rgba(5,5,5,0) 0%,rgba(5,5,5,1) 60%,rgba(5,5,5,1) 100%); /* W3C */
}

.app-rtl .home-page .continueItem .continue-info {
    padding: 0 8px;
}

.app-rtl .home-page .continueItem .continueImage {
    background-position: 50% 50%;
}
.app-rtl .home-page .continue-info .titles {
    padding-left: 4px;
}
.app-rtl .home-page .continueItem .progress-bar {
    margin-right: auto;
    margin-left: auto;
}
/* Progress bar is LTR regardless of language */
.app-rtl .home-page .continueItem .progress-bar {
    direction: ltr;
}

.app-rtl .home-page .continuePlayButton {
    right: 50%;
    margin-right: -30px;
    border-radius: 50%;
}

/* The play icon stays the same for RTL. */
.app-rtl .home-page .play-icon {
    left: 20px;
}
.app-rtl .playback-page {
    right:   0;
    top:    0;
    left:  0;
    bottom: 0;
}

.app-rtl .playback-background-image {
    transition: opacity 0.3s linear;
    right:           50%;
    top:            50%;
    transform:      translate(50%,-50%);
}

.app-rtl .playback-page .playback-background-image-cover {
    position: absolute;
    bottom: 0;
    top:    0;
    right:   0;
    left:  0;
}

.app-rtl .playback-page.hidden-mouse {
    cursor:none;
}

.app-rtl .playback-page .bar-group {
    bottom: 0;
    top:    0;
    right:   0;
    left:  0;
}

.app-rtl .playbackTopBar {
    right: 0;
}
.app-rtl .playbackBottomBar {
    right: 0;
}
.app-rtl .playback-top-bar .bar-button {
    margin-left: 4pt;
}

.app-rtl .playback-top-bar {
    transform: translateY(0);
}

.app-rtl .playback-top-bar .playback-title {
    margin-left: 8pt;
}

.app-rtl .bar-group-enter.bar-group-enter-active {
    opacity: 1;
    transition: opacity .6s;
}
.app-rtl .bar-group-leave-active {
    opacity: .99;
    transition: opacity .25s;
}
.app-rtl .bar-group-enter.playback-top-bar {
    opacity: 0;
    transform: translateY(-20px);
}
.app-rtl .bar-group-enter.bar-group-enter-active.playback-top-bar {
    opacity: 1;
    transform: translateY(0);
    transition: transform .6s cubic-bezier(0,1,0,1), opacity .3s cubic-bezier(0,1,0,1);
}

.app-rtl .bar-group-leave-active.playback-top-bar {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform .25s cubic-bezier(.5,0,1,.5), opacity .25s cubic-bezier(.5,0,1,.5);
}

.app-rtl .bar-group-enter.playback-bottom-bar {
    opacity: 0;
    transform: translateY(20px);
}
.app-rtl .bar-group-enter.bar-group-enter-active.playback-bottom-bar {
    opacity: 1;
    transform: translateY(0);
    transition: transform .6s cubic-bezier(0,1,0,1), opacity .3s cubic-bezier(0,1,0,1);
}

.app-rtl .bar-group-leave-active.playback-bottom-bar {
    opacity: 0;
    transform: translateY(20px);
    transition: transform .25s cubic-bezier(.5,0,1,.5), opacity .25s cubic-bezier(.5,0,1,.5);
}

.app-rtl .playback-gradient {
    right: 0; left: 0;
}
.app-rtl .playback-gradient-top {
    background: linear-gradient(
        rgba(0,0,0,.64) 0%,
        rgba(0,0,0,  0) 47%
    );
}
.app-rtl .playback-gradient-bottom {
    background: linear-gradient(
        rgba(0,0,0,  0) 53%,
        rgba(0,0,0,.64) 100%
    );
}

.app-rtl .postplay-playback-gradient {
    background: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, #000000 92%);
    right: 0;
    top: 0;
}

.app-rtl .image-based-subtitles {
    top: 0;
    right: 0;
}

.app-rtl .bar-group-enter.bar-group-enter-active.playback-gradient {
    opacity: 1;
    transition: opacity .6s cubic-bezier(0,1,0,1);
}

.app-rtl .bar-group-leave-active.playback-gradient {
    opacity: 0;
    transition: opacity .25s cubic-bezier(.5,0,1,.5);
}

.app-rtl .profilegate {
    /*margin: 0 var(--list-margin);*/
}

.app-rtl .profile-header {
    margin: 0 28px 10vh 28px;
}
.app-rtl .profile-header:focus {
    outline: none;
}

.app-rtl .profile-container {
    margin: 0 16px;
    outline: none;
}

.app-rtl .profile-container:focus .profile-image,
.app-rtl .profile-container:hover .profile-image {
    outline: solid 4px white;
}

.app-rtl .profile-name {
    padding: 10px 0;
}

@media all and (max-width: 400px) {
    .app-rtl .profile-count-3 .profile-header {
        padding: 20px;
    }
}

@media all and (max-width: 540px) {
    .app-rtl .profile-count-4 .profile-header {
        padding: 20px;
    }
}

@media all and (max-width: 680px) {
    .app-rtl .profile-count-5 .profile-header {
        padding: 20px;
    }
}

.app-rtl .related-header {
    margin: 24px 26px 0 24px;
}
.app-rtl .related-page .related-list {
    margin: 8px 24px 24px 24px;
}
.app-rtl .related-page .related-list .related-viewable{
    margin: 2px;
}
.app-rtl .related-page .related-list .related-viewable.placeholder{
    margin: 0 2px;
}

.app-rtl .search-results .win-hub-surface {
    padding: 0 24px;
}
.app-rtl .search-results-list-videos .viewableitem {
    margin: 4px;
}
.app-rtl .search-results-list-videos .viewableitem.placeholder{
    margin: 0 4px;
}
.app-rtl .search-results-hubsection.win-hub-section {
    padding: 0 0 0 48px;
}
.app-rtl .search-results-list .personitem {
    margin: 8px 4px;
}
.app-rtl .search-results-list .suggestion {
    margin: 8px 4px 24px 4px;
}

.app-rtl .search-results-list .personitem-name {
    margin-right: 10px;
}
.app-rtl .search-results.win-hub-horizontal .win-hub-section-header {
    margin: 0 4px 0 0;
}

/*
@media (--phone-widths) {
    .search-results :first-of-type.search-results-hubsection .win-hub-section-header-content {
        margin-left: 0;
    }
}
*/
/*
@media (--small-phone-widths) {
    .search-results .win-hub-section {
        padding:0 8px 0 0;
    }
}
*/
/*
@media (--large-phone-widths) {
    .search-results .win-hub-section {
        padding:0;
    }
    .search-results-hubsection .win-hub-section-header-content{
        margin-left: 0px !important;
    }
*/

@media       all and (min-width: 432px) {
    .app-rtl .search-results .win-hub-surface {
        padding: 0 12px;
    }

    .app-rtl .search-results .search-results-hubsection-videos.win-hub-section {
        padding-left: 36px;
    }
    .app-rtl .search-results.section-count-1 .search-results-hubsection-videos.win-hub-section {
        padding: 0px;
    }
    .app-rtl .search-results-list-videos .viewableitem {
        margin: 2px;
    }
    .app-rtl .search-results-list-videos .viewableitem.placeholder {
        margin: 0 2px;
    }
    .app-rtl .search-results-list .personitem {
        margin: 4px;
    }
    .app-rtl .search-results-list .suggestion {
        margin: 16px 4px 32px 4px;
    }
}
@media      all and (min-width: 600px) {
    .app-rtl .search-results .win-hub-surface{
        padding: 0 24px;
    }
}

@media (min-width: 600px) {
    .app-rtl .settings-page {
        right: calc(50% - 300px)
    }
}

.app-rtl .settings-page {
    padding: 36px
}

.app-rtl .settings-page:after {
    content: "";
    display: block;
    height: 36px;
    width: 100%;
}

.app-rtl .settings-page .external-link {
    cursor: pointer;
}

.app-rtl .settings-page .details-closeButton {
    padding: 0 48px 48px 0;
    top: 18px;
    left: 10px;
}

.app-rtl .settings-page h3 {
    margin: 0;
    margin-top: 16px;
}

.app-rtl .settings-page .imprint-block {
    margin: 0;
    padding: 0;
}

.app-rtl .settings-page .video-quality-selector {
}

.app-rtl .settings-page .video-quality-selector .video-quality-menu {
    right: 0;
}

.app-rtl .settings-page .menu-item, .app-rtl .settings-page .delete-all-item {
    padding-right: 6px;
    padding-left: 6px;
}

.app-rtl .settings-page .legend-entry .swatch {
    margin-left: 6px;
}
.app-rtl .sign-in-form input, .app-rtl .sign-in-form button {
    margin: 0;
}

.app-rtl .sign-in-container hr {
    border-color: #2f2f2f;
    margin: 0;
    padding: 0;
}
.app-rtl .bar-button-icon .text,
.app-rtl .bar-button-icon:before {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.app-rtl .bar-button-text,
.app-rtl .bar-button-icon.bar-button-text {
    width: auto;
    white-space: nowrap;
    margin: 16px;
}
.app-rtl .cancelable-overlay-clickgrabber {
    right: 0;
    left: 0;
}
.app-rtl .icon-download {
    vertical-align: middle;
    font-size: 52px;
    position: relative;
}
.app-rtl .icon-download:after {
    color: transparent;
    content: "\F020";
}

/* Progress on Download button is LTR regardless of language */
.app-rtl .dl_button_direction {
    direction:ltr;
}

.app-rtl .dl_button {
    width: 52px;
    height: 52px;
    position: absolute;
}

.app-rtl .reason-failed { 
    color: rgba(232, 124, 3, 1);
    padding: 8px 12px;
    white-space: pre-line;
    max-width: 300px;
    line-height: 24px;
    box-shadow: inset 0 0 1px #333;
}

.app-rtl .win-flyout.download-menu {
    position: fixed;
}
.app-rtl .downloadsStatus-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 101;
}

.app-rtl .downloadsStatus-tray {
    background: #007aff;
    height: 61px; /* TODO: figure out the height sufficient for tray with subheader */
    min-width: 500px;
    max-width: 768px;
    width: 100%;
    right: 50%;
    position: absolute;
    bottom: 0px;
    transform: translate(50%, 0);
    position: relative;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.8);
}
.app-rtl .downloadsStatus-tray.downloads-group-enter        { opacity:0;  transform: translate(50%, 100px); transition: .4s opacity cubic-bezier(.3,0,.3,1), .5s transform cubic-bezier(.3,1,.3,1); }
.app-rtl .downloadsStatus-tray.downloads-group-enter-active { opacity:1;  transform: translate(50%,   0px); transition: .4s opacity cubic-bezier(.3,1,.3,1), .5s transform cubic-bezier(.3,1,.3,1); }
.app-rtl .downloadsStatus-tray.downloads-group-leave        { opacity:1;  transform: translate(50%,   0px); transition: .4s opacity cubic-bezier(.3,1,.3,1), .5s transform cubic-bezier(.3,1,.3,1); }
.app-rtl .downloadsStatus-tray.downloads-group-leave-active { opacity:0;  transform: translate(50%, 100px); transition: .4s opacity cubic-bezier(.3,0,.3,1), .5s transform cubic-bezier(.3,1,.3,1); }

/* ProgressBar on Downloads Status trey (Snackbar) is LTR regardless of language */
.app-rtl .downloadsStatus-tray .progress-container {
    direction: ltr;
    height: 5px;
    background: black;
    transition: .5s opacity;
    position: absolute;
}
.app-rtl .downloadsStatus-tray .progress-indicator {
    transform-origin: 100% 0;
    
/* removing temporarily to avoid downloadTrayProgressBar drunk behavior 
    transition: .4s transform cubic-bezier(.3,0,.3,1);
*/
    transform: scale(1, 1);
    
    background: white;
    height: 100%;
    position: absolute;
}

.app-rtl .downloadsStatus-tray .status-vertically-centered {
    position: absolute;
    top: calc( ( 100% + 5px ) / 2 );
    transform: translateY(-50%)
}

.app-rtl .downloadsStatus-tray .status-header {
    font: 500 18px/150% 'Segoe UI';
    padding: 0px 32px 0 70px;
}
.app-rtl .downloadsStatus-tray .status-subheader {
    font: 300 14px/150% 'Segoe UI';
    padding: 0 32px 0px 70px;
}
.app-rtl .downloadsStatus-tray.someErrors .status-subheader::before {
    content: "!";
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 50% 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    font: 600 12.5px/14.5px serif;
    margin: 0 0 0 5px;
    background: #e67c21;
}


.app-rtl .downloadsStatus-tray .status-button {
    left: 20px;
    width: 40px;
    height: 40px;
}

.app-rtl .downloadsStatus-tray .status-button::before {
    content: "\E867";
    position: relative;
    display:block;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%) scaleX(-1);
    text-align: center;
}

.app-rtl .downloadsStatus-tray .status-button:hover {
    background: white;
    color: black;
}

.app-rtl .downloadsStatus-tray.doneWithErrors {
    background: #e67c21;
}

.app-rtl .downloadsStatus-tray.done progress-container {
    opacity: 0;
    transform: translateY(0);
}
.app-rtl .header {
    right:0;
}

.app-rtl .header .right-side,
.app-rtl .header .left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app-rtl .logoContainer:first-child {
    margin-right: 20px;
}

.app-rtl .header .bar-button {
    margin-left: 5.33px;
}

.app-rtl .overflow-menu {
    left: 0;
}

.app-rtl .sidebar-menu {
    right: 0;
    overflow: hidden;
}

.app-rtl .sidebar-menu .profile-info .avatar {
    margin-right: 16px;
    margin-left: 20px;
}

.app-rtl .sidebar-menu .profile-info .profile-switch-button {
    margin-right: 20px;
    margin-left: 16px;
}

.app-rtl .sidebar-menu .profile-info .profile-name {
    padding: 0;
}

.app-rtl .sidebarButton {
    padding-right: 16px;
    padding-left: 16px
}

.app-rtl .sidebarButton .icon {
    margin-left: 8px;
}

.app-rtl .settingsButtonContainer,
.app-rtl .signOutButtonContainer,
.app-rtl .genreButtonContainer {
    padding: 0 20px;
}

.app-rtl .genreButtonContainer {
    padding: 0;
}

.app-rtl .settingsButtonContainer span,
.app-rtl .signOutButtonContainer span {
    padding: 0;
}

.app-rtl .genreButtonContainer .content {
    padding: 0 16px;
}

.app-rtl .header-group-leave.header-group-leave-active{
    transition: opacity 0.2s ease-in;
}

.app-rtl .header-group-appear.header-group-appear-active,
.app-rtl .header-group-enter.header-group-enter-active{
    transition: opacity 0.2s ease-in 0.1s;
}


.app-rtl .sidebar-menu > .profile-info,
.app-rtl .sidebar-menu > .profile-separator,
.app-rtl .sidebar-menu > .categories,
.app-rtl .sidebar-menu > .notifications
{ 
    transition: .3s transform  cubic-bezier(0,.4,.6,1),
                .3s opacity    cubic-bezier(0,.4,.6,1);
}

.app-rtl .sidebar-menu.abridged > .profile-info,
.app-rtl .sidebar-menu.abridged > .profile-separator,
.app-rtl .sidebar-menu.abridged > .categories
{
    transform: translateX(0);
    opacity: 1;
}
.app-rtl .sidebar-menu.abridged > .notifications {
    transform: translateX(-100px);
    opacity: 0;
    pointer-events: none;
}

.app-rtl .sidebar-menu.full > .profile-info,
.app-rtl .sidebar-menu.full > .profile-separator,
.app-rtl .sidebar-menu.full > .categories
{
    transform: translateX(100px);
    opacity: 0;
    pointer-events: none;
}
.app-rtl .sidebar-menu.full > .notifications {
    transform: translateX(0);
    opacity: 1;
}

.app-rtl .header .signInButton {
    border-radius: 3px;
}
.app-rtl .mdx-menu {
    box-shadow: 0 0 20px 3px rgba(0, 50, 50, 50.701961);
    left: 5%;
}

.app-rtl .mdx-device {
    margin:5px 15px;
}
.app-rtl .metabar {
    margin-right: -16px;
}

.app-rtl .metabar .metabar-part {
    margin-right: 16px;
}

.app-rtl .metabar .maturity {
    padding: 0.5px 5px 2.5px 5px;
    border-radius: 2.5px; 
}

.app-rtl .metabar .icon-badge {
    margin-right: 16px;
}

.app-rtl .match-score {
  color: #46d369;
  font-weight: 500;
}
.app-rtl .notifications.full,
.app-rtl .notifications.full .notifications-container
 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.app-rtl .notifications.full .notifications-container {
    display: flex;
    flex-direction: column;
}

.app-rtl .notifications-header {
    padding: 14px 10px 5px 10px;
}
.app-rtl .notifications-scroller {
    flex-grow: 1;
    padding-top: 8px;
    overflow-y: auto;
}
.app-rtl .notifications.full .notifications-header {
    text-align: center;
	padding: 10px 12px 10px 10px;
}
.app-rtl .notifications.full .notifications-header-arrow {
    right: 16px;
    left: auto;
    top: 16px;
}

.app-rtl .notifications-header-arrow {
	left: 16px;
}
.app-rtl .notifications-badge::after {
    content: attr(data-badge);
}
.app-rtl .notifications-badge {
    content: attr(data-badge);
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 0.7em;
    min-width: 11px;
    background: #E50914;
    color: white;
    height: 16px;
    padding: 1px 3.3px 1px 3.7px;
    text-align: center;
    border-radius: 46%;
    box-shadow: 0px 0px 2px 2px #000;
    transform: translate(-65%);
    opacity: .99;
}
.app-rtl .notifications-badge[data-badge="0"] {
    display:none;
}

.app-rtl .notifications-badge + .notifications-badge {
    z-index: 0;
}
.app-rtl .notifications-badge.notifications-badge-leave,
.app-rtl .notifications-badge.notifications-badge-enter.notifications-badge-enter-active {
    transform: translate(-65%);
    opacity: .99;
    transition: .5s transform cubic-bezier(0,.7,.2,1), /* animate transform and opacity together */
                .5s opacity   cubic-bezier(0,.7,.2,1);
}

.app-rtl .notifications-badge.notifications-badge-enter {
    transform: translate(-265%);
    opacity: 0;
    transition: .01s transform cubic-bezier(0,.7,.2,1) .5s, /* wait with transform until opacity is done */
                .5s  opacity   cubic-bezier(.7,0,1,.2);
}
.app-rtl .notifications-badge.notifications-badge-leave.notifications-badge-leave-active {
    transform: translate(-65%, -150%);
    opacity: 0;
    transition: .3s transform cubic-bezier(0,-.7,1,-.7), /* wait with transform until opacity is done */
                .2s opacity   cubic-bezier(.3, 0,1,.7) .1s;
}



.app-rtl .notifications-badge-container {
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
}


.app-rtl .notifications.abridged .notifications-header::before
{
    right: -4px;
}

.app-rtl .notifications-item::before {
    right: -4px;
    transform: translateY(47%);
}

.app-rtl .notifications-item {
    padding: 4px 10px 4px 16px;
}

.app-rtl .notifications-item .text {
    margin-right: 9px;
}
.app-rtl .notifications.abridged .notifications-container .profile-separator {
    margin: 11px 0 15px 0;
}

.app-rtl .notifications.full     .notifications-container .profile-separator {
    margin-top: 2px;
}
.app-rtl .pinprompt-container .pinpad {
    direction: ltr;
}
.app-rtl .pinprompt-container .message {
    margin-right: 40px;
    margin-left: 40px
}
.app-rtl .pinprompt-container a {
    margin-left: auto;
    margin-right: auto
}
.app-rtl .pinprompt-container .pin-number {
    padding: 10px;
    text-align: center;
}
.app-rtl .compact-overlay-bar {
    right: 4px;
}
.app-rtl .gradient-background {
    background: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, #000000 92%);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
.app-rtl .playback-top-bar ~ .content-advisory {
    opacity: 0 !important;
    transition: .2s opacity !important;
}
.app-rtl .content-advisory.bar-group-enter.bar-group-enter-active {
    opacity: 1;
    transition: opacity 2.1s;
}
.app-rtl .content-advisory.bar-group-leave-active {
    opacity: .99;
    transition: opacity 0.88333333s;
}

.app-rtl .content-advisory {
  margin: 0 39px;
  padding-right: 9px;
}

.app-rtl .content-advisory .bar {
  left: 100%;
  margin: 0 ;
  background: #E50914;
}
.app-rtl .content-advisory h4 {
  margin: 0;
}
.app-rtl .content-advisory p {
  margin: 0 0 4px;
}
.app-rtl .bar-group-enter.content-advisory .bar {
  transform: translate3d(0, 0.5em, 0);
}
.app-rtl .bar-group-enter-active.bar-group-enter.content-advisory .bar {
  transform: translate3d(0, 0, 0);
  transition: transform 0.83333333s cubic-bezier(0, 0, 0.1, 1), height 0.4s cubic-bezier(0, 0, 0.5, 1);
}
.app-rtl .bar-group-leave.content-advisory .bar {
  transform: translate3d(0, 0, 0);
}
.app-rtl .bar-group-leave-active.bar-group-leave.content-advisory .bar {
  transform: translate3d(0, -0.5em, 0);
  transition: transform 0.83333333s cubic-bezier(0, 0, 0.1, 1), height 0.4s cubic-bezier(0, 0, 0.5, 1), opacity 0.83333333s cubic-bezier(0, 0, 0.5, 1);
}
.app-rtl .bar-group-enter.content-advisory h4,
.app-rtl .bar-group-enter.content-advisory p {
  transform: translate3d(0, 0.5em, 0);
}
.app-rtl .bar-group-enter-active.bar-group-enter.content-advisory h4,
.app-rtl .bar-group-enter-active.bar-group-enter.content-advisory p {
  transform: translate3d(0, 0, 0);
  transition: opacity 1s cubic-bezier(0.5, 0, 0.1, 1), transform 0.83333333s cubic-bezier(0, 0, 0.1, 1);
}
.app-rtl .bar-group-leave.content-advisory h4,
.app-rtl .bar-group-leave.content-advisory p {
  transform: translate3d(0, 0, 0);
}
.app-rtl .bar-group-leave-active.bar-group-leave.content-advisory h4,
.app-rtl .bar-group-leave-active.bar-group-leave.content-advisory p {
  transform: translate3d(0, -0.75em, 0);
  transition: opacity 0.5s cubic-bezier(0, 0, 0.5, 1), transform 0.5s cubic-bezier(0, 0, 1, 0.1);
}
.app-rtl .bar-group-enter-active.bar-group-enter.content-advisory p {
  opacity: .85;
  transition-delay: 1.1s;
}
.app-rtl .bar-group-enter-active.bar-group-enter.content-advisory h4 {
  transition-delay: 1s;
}
.app-rtl .bar-group-enter-active.bar-group-enter.content-advisory .bar {
  transition-delay: 1s;
}
.app-rtl .bar-group-leave.content-advisory p {
  opacity: .85;
}

.app-rtl .bar-group-leave-active.bar-group-leave.content-advisory p {
  opacity: 0;
}
.app-rtl .bar-group-leave-active.bar-group-leave.content-advisory p {
  transition-delay: 0.066s;
}
.app-rtl .audio-subtitle-menu {
    right: 0px;
    padding: 20px;
}

.app-rtl .audio-subtitle-menu-wrapper {
    right: 0px;
}

.app-rtl .audio-subtitle-sub-menu-wrapper {
    margin-right: 20px;
    margin-left: 20px;
    right: 0px;
}

.app-rtl .audio-subtitle-header {
    right: 0px;
}

.app-rtl .audio-subtitle-item {
    right: 0px;
    margin-left: 8px;
}

.app-rtl .close-button-container {
    right: 0px;
    margin: 0 calc(50% - 25px); /* half width */
    text-align: center;
}
.app-rtl .playback-bottom-bar {
    direction: ltr;
    left: 0px;
}
.app-rtl .playback-bottom-bar-image {
    left: 0px;
}
.app-rtl .playback-bottom-bar-work-area {
    left: 0px;
}
.app-rtl .playback-bottom-bar-work-area .bar-button,
.app-rtl .playback-bottom-bar-work-area .scrub-bar {
    margin-right: 4pt;
}
.app-rtl .bar-group-enter.bar-group-enter-active .shim {
    transition: opacity .3s cubic-bezier(0,1,0,1);
}

.app-rtl .bar-group-leave-active .shim {
    transition: opacity .25s;
}

.app-rtl .bar-group-enter .overlay {
    transform: translateY(-20%);
}

.app-rtl .bar-group-enter.bar-group-enter-active .overlay {
    transform: translateY(0);
    transition: opacity .4s cubic-bezier(0,1,0,1), transform .6s cubic-bezier(0,1,0,1);
}

.app-rtl .bar-group-leave-active .overlay {
    transform: translateY(-10%);
    transition: opacity .25s cubic-bezier(.5,0,1,.5), transform .25s cubic-bezier(.5,0,1,.5);
}

.app-rtl .playback-episode-selector .overlay {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.9);
    transform: translateY(0);
}

.app-rtl .playback-episode-selector-container {
    padding: 10px 8px 40px 21px;
}

.app-rtl .playback-episode-selector .seasons {
    margin: 0 15px;
}

.app-rtl .playback-episode-selector .season {
    margin: 0 23px;
    padding: 5px 15px;
}
.app-rtl .playback-episode-selector .episode-button {
    margin: 4px;
}

.app-rtl .playback-episode-selector .title {
    margin: .80em 0 .19em;
}

.app-rtl .playback-episode-selector .now-playing:before {
    margin-left:10px;
}

.app-rtl .playback-episode-selector .details-bookmark.episode {
    left: 0;
    right: 0;
}

.app-rtl .playback-closeChevron {
    padding-top: 25px;
    right: 50%;
    margin-right: -75px; /* = -width/2 */
    text-align: center;
    text-shadow: 0 -0.5px 5px rgba(0,0,0,0.9);
    transition: transform .2s cubic-bezier(0,1,0,1);
}

.app-rtl .playback-closeChevron:hover,
.app-rtl .playback-closeChevron:focus {
    transform: scale(1.1,1.1);
}
.app-rtl .playback-title .title {
    margin-right: 8pt;
}

.app-rtl .playback-title .episodeTitle {
    margin-right: 6pt;
    margin-left: 8pt;
}

.app-rtl .volume-control {
    position: absolute;

    box-sizing: border-box;
    border: 1pt solid rgba(255,255,255,0.14);

    background-color: rgba(0,0,0,0.7);

    height: 254pt;
    width: 47pt;

    display: flex;
    flex-direction: column;
    align-items: center;

    top: 45.5pt;
    pointer-events: visible;

    box-sizing: border-box;
    justify-content: space-around;

    max-height: calc(100vh - 64px* 2);        /* Exclude top and bottom bars */
}

.app-rtl .volume-control .volume-base {
    width: 2pt;
    height: 168pt;
    background-color: #D8D8D8;
    margin-top: 23pt;
    margin-bottom: 23pt;
    position: relative;
}

.app-rtl .volume-control .volume-mute {
    color: #B6B4B3;
    margin-bottom: 23pt;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.app-rtl .volume-control .volume-level {
    position: absolute;
    bottom: 0;
    width: 2pt;
    background-color: #E50914;
    height: 100%;
}

.app-rtl .volume-control .volume-thumb {
    position: relative;
    top: -10pt;

    box-sizing: border-box;

    height: 20pt;
    width: 20pt;
    background-color: #E50914;
}

.app-rtl .volume-control {
    border-radius: 23.5pt;
    left: 4.5pt;
}

.app-rtl .volume-control .volume-base {
    border-radius: 1pt;
}

.app-rtl .volume-control .volume-level {
    border-radius: 1pt;
}

.app-rtl .volume-control .volume-thumb {
    right: -9pt;
    border-radius: 50%;
}
/*rtl:ignore*/
.app-rtl .skip-button {
    padding: 12px;
}
.app-rtl .skip-credits {
    z-index: 1;
    right: 50px;
    bottom: 75px;
}
.app-rtl .skip-credits .skip-credits-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0;
    opacity: 1;
}
.app-rtl .skip-credits-wrapper .skip-credits-label {
    display: inline-block;
    white-space: nowrap;
    transform: translateX(0);
}
.app-rtl .skip-credits-enter {
    opacity: 0;
}
.app-rtl .skip-credits-enter.skip-credits-enter-active {
    opacity: 1;
    transition: opacity 325ms linear;
}
.app-rtl .skip-credits-leave {
    opacity: 1;
}
.app-rtl .skip-credits-leave.skip-credits-leave-active {
    opacity: 0;
    transition: opacity 3650ms linear 325ms;
}


/* Button In Animations */
.app-rtl .skip-credits-enter .skip-credits-wrapper {
    width: 20%;
    right: -90%;
    opacity: 0;
    transition: width 650ms cubic-bezier(0.23, 1, 0.32, 1), right 650ms cubic-bezier(0.23, 1, 0.32, 1), opacity 325ms linear;
}
.app-rtl .skip-credits-enter-active .skip-credits-wrapper {
    width: 100%;
    right: 0;
    opacity: 1;
    transition: width 650ms cubic-bezier(0.23, 1, 0.32, 1), right 650ms cubic-bezier(0.23, 1, 0.32, 1), opacity 325ms linear;
}
.app-rtl .skip-credits-enter .skip-credits-label {
    transform: translateX(-40px);
    opacity: 0;
    transition: transform 650ms cubic-bezier(0.23, 1, 0.32, 1), opacity 325ms linear;
}
.app-rtl .skip-credits-enter-active .skip-credits-label {
    transform: translateX(0);
    opacity: 1;
    transition: transform 650ms cubic-bezier(0.23, 1, 0.32, 1), opacity 325ms linear;
}


/* Button Out Animations */
.app-rtl .skip-credits-leave .skip-credits-wrapper {
    width: 100%;
    right: 0;
    opacity: 1;
    transition: width 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19), right 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 325ms linear 325ms;
}
.app-rtl .skip-credits-leave-active .skip-credits-wrapper {
    width: 20%;
    right: -90%;
    opacity: 0;
    transition: width 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19), right 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 325ms linear 325ms;
}
.app-rtl .skip-credits-leave .skip-credits-label {
    transform: translateX(0);
    opacity: 1;
    transition: transform 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 325ms linear 325ms;
}


.app-rtl .skip-credits-leave-active .skip-credits-label {
    transform: translateX(40px);
    opacity: 0;
    transition: transform 650ms cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 325ms linear 325ms;
}

.app-rtl .postplay-container {
    top:    0;
    right:   0;
    left:  0;
    bottom: 0;
}

.app-rtl .postplay-nextepisode-container .bottom-container {
    right: 20px;
    left: 20px;
    bottom: 20px;
}

@media all and (min-width: 950px) {
    .app-rtl .postplay-nextepisode-container .bottom-container {
        right: 65px;
        left: 35px;
        bottom: 35px;
    }
}

.app-rtl .postplay-nextepisode-meta {
    margin-right: 2.5em;
}

.app-rtl .postplay-nextepisode-nextepisode {
    padding-bottom: 0.25em;
}

.app-rtl .postplay-nextepisode-title {
    padding: 0 0 0.25em 0;
}

.app-rtl .number, .app-rtl .spacer, .app-rtl .title {
    margin-left: 0.2em;
}

@media all and (orientation: portrait) and (max-width: 532px) {
    .app-rtl .postplay-nextepisode-container .bottom-container {
        padding-top: 10px;
        right: 20px;
        left: 20px;
        bottom: 20px;
        margin: 0;
        height: auto;
    }

    .app-rtl .postplay-nextepisode-container .postplay-nextepisode-image {
        position: relative;
    }

    .app-rtl .postplay-nextepisode-meta {
        margin: 2em 0 0 0;
    }
}

.app-rtl .postplay-nextepisode-image-container .play-button-image-aligner {
    right: 0;
}
.app-rtl .postplay-nextepisode-container .background-image-gradient {
    background: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, #000000 92%);
    top:    0;
    right:   0;
    left:  0;
    bottom: 0;
    position: absolute;
}
.app-rtl .postplay-recs-container {
    background: transparent;
}

.app-rtl .postplay-recs-container .top-container-gradient,
.app-rtl .compact-top-container .top-container-gradient {
    background: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, #000000 92%);
    right:0;
    top:0;
}

.app-rtl .postplay-recs-container .bottom-container {
    background: transparent;
}

.app-rtl .postplay-recs-container .bottom-container .bottom-container-back {
    top:    0;
    right:   0;
    left:  0;
    bottom: 0;  
    background: black;
}

.app-rtl .postplay-recs-container .bottom-container .bottom-container-front {
    margin: 0 40px;
}

.app-rtl .postplay-selection-meta {
    padding-right: 40px;
}

.app-rtl .postplay-recs-instruction {
    padding: 10px 0;
}

.app-rtl .postplay-recs-content-bar {
    padding-right: 40px;
}

.app-rtl .recs-container .rec-container {
    margin-left: 10px;
}

.app-rtl .rec-container .rec-image-mask{
    top:    0;
    right:   0;
    left:  0;
    bottom: 0;
    background: black;
}
.app-rtl .compact-overlay-page .bottom-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.app-rtl .compact-overlay-page .postplay-nextepisode-meta {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-rtl .postplay-compact-overlay-container {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


.app-rtl .compact-recs-container {
    right: 0;
    left: 0;
    margin: 20px 20px 0px 20px;
}

.app-rtl .compact-top-container {
    right: 0;
    left: 0;
}

.app-rtl .compact-top-container .compact-background-image {
    right: 0;
    left: 0;
    background-position: 50% 0%;
}

.app-rtl .postplay-compact-overlay-container .postplay-selection-extrameta {
    padding: 0 20px;
}

.app-rtl .compact-movie-recommendation .compact-play-next-button {
    padding: 0;
}

@media all and (min-width: 300px) {
    .app-rtl .postplay-compact-overlay-container .postplay-selection-extrameta {
        padding: 0;
    }

    .app-rtl .compact-movie-recommendation .compact-play-next-button {
        padding: 4px 8px;
    }
}
.app-rtl .progress-container {
    text-align: center;
}
/* everything in the bottom bar is supposed to stay LTR even for RTL languages. */
.app-rtl .scrub-bar-base {
    margin-left: 24pt;
    /* 4 for padding between this control and the next,
       plus 24 to put it in what would be the center of 
       the 48pt square it's anchored to.
       See https://confluence.netflix.com/display/UXD/Windows+X+-+Player
       for a picture.
    */
    margin-right: 28pt;

    border-radius: 1pt;
}
.app-rtl .scrub-bar-time-remain .time {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.app-rtl .scrub-bar-progress {
    border-radius: 1pt;
}
.app-rtl .scrub-bar-time-progress {
    float: right;
    text-align: center;
    right: -20px;
}
.app-rtl .scrub-bar-thumb {
    border-radius: 14px;
}
.app-rtl .scrub-bar-thumb-play {
    float: right;
    right: -13px;
}
.app-rtl .searchbox-button {
    padding-left: 5px;
}
.app-rtl .star-container:nth-child(1) {
	margin-right: 0;
}
.app-rtl .star-container {
    margin-left: .2em;
}
.app-rtl .star-value-holder * { pointer-events: none }
.app-rtl .star-value-holder {
  left:0; right:0;
  margin: -.5em -.11em;
}

.app-rtl .star::after {
	text-align: center;
}

.app-rtl .stars .star {
  transform: rotate(-0.01deg);
  right:0;
  transform: rotate(-0.01deg);
}

.app-rtl .stars .default1.star {
  transition: opacity .723s ease-out;
}

.app-rtl .stars .default2.star {
  transition: opacity .723s ease-out;
}

.app-rtl .details-header-popup {
  right:0;
}

.app-rtl .star-popup {
  padding: .07em .5em .35em .3em;
}

.app-rtl .star-popup-holder {
  cursor:pointer;
}

.app-rtl .popup-container .win-flyout  {
  padding:0;
  border-color: #3e3e3e;
}
.app-rtl .star-popup .event-source {
    right:-0px;
    padding-right:0px;
}
.app-rtl .star-right-of-first,
.app-rtl .star-left-of-last{
  width: 4em;
  height:5em;
  top:-1.2em;
  display:inline-block;
  position:absolute;
}
.app-rtl .star-left-of-first{ 
  right:-3.5em;
}
.app-rtl .star-right-of-last{
  left: -3.5em;
}

.app-rtl .star-popup .stars .default1.star {
  text-shadow:
      0 0 1.2px #666,
      0 0 1.2px #666,
      0 0 1.2px #666,
      0 0 1.2px #666
}


.app-rtl .rating-slider {
    opacity:  0;
    position: absolute;
    height:   20px;
    width:    200px;
}
.app-rtl .viewableitem-image {
    transition: opacity 0.6s ease-out;
}
.app-rtl .virtualized-list.horizontal {
}
.app-rtl .virtualized-list.horizontal .virtualized-list-scroll-before,
    .app-rtl .virtualized-list.horizontal .virtualized-list-scroll-after {
    transition: opacity 0.6s ease-out,
                    background-color 0.25s ease-out;
}
.app-rtl .virtualized-list.horizontal .virtualized-list-scroll-before > span, .app-rtl .virtualized-list.horizontal .virtualized-list-scroll-after > span {
    transition: transform 0.25s ease-out;
}
.app-rtl .virtualized-list.horizontal .virtualized-list-scroll-before:hover > span, .app-rtl .virtualized-list.horizontal .virtualized-list-scroll-after:hover > span {
    transform: scale(1.2, 1.2);
}
.app-rtl .virtualized-list.horizontal .virtualized-list-scroll-before {
    right: 0;
}
.app-rtl .virtualized-list.horizontal .virtualized-list-scroll-after {
    left: 0;
}
.app-rtl .virtualized-list.horizontal .icon-before:after {
    content: '\e759';
}
.app-rtl .virtualized-list.horizontal .icon-after:after {
    content: '\e758';
}
